body {
    background-color: #f4f4f4;
}

.buy-box {
    margin-bottom: 20px;
}

.ly-breadcrumb {
    height: 50px;
    line-height: 50px;
    font-size: 12px;
    color: #666;
}

.product-box {
    padding: 40px 70px 40px 50px;
    font-size: 0;
    background-color: #fff;
}
.product-box .img-box,
.product-box .info-box {
    display: inline-block;
    vertical-align: top;
    font-size: 20px;
}
.product-box .img-box {
    width: 445px;
    margin-right: 80px;
}
.product-box .img-box .big-pic {
    display: block;
    width: 100%;
    height: 445px;
    margin-bottom: 25p;
}
.product-box .img-box ul li {
    float: left;
    height: 82px;
    margin-left: 23px;
    cursor: pointer;
}
.product-box .img-box ul li.chked,
.product-box .img-box ul li:hover {
    background: url(images/img_select.png) no-repeat center bottom;
}
.product-box .img-box ul li:first-child {
    margin-left: 0;
}
.product-box .img-box ul li img {
    display: block;
    width: 70px;
    height: 70px;
}
.product-box .info-box {
    width: 545px;
    padding-top: 10px;
    overflow: hidden;
}
.product-box .info-box .title {
    padding: 22px 0;
    border-bottom: 1px solid #f1f1f1;
}
.product-box .form {
    padding-top: 37px;
    font-size: 0;
}
.product-box .form .mgt1 {
    margin-top: 25px;
}
.product-box .form .mgt2 {
    margin-top: 20px;
}
.product-box .form .mgt3 {
    margin-top: 50px;
}
.product-box .form .mgt4 {
    margin-top: 30px;
}
.product-box .form label,
.product-box .form .cnt {
    display: inline-block;
    vertical-align: middle;
}
.product-box .form label {
    width: 6em;
    font-size: 12px;
}
.product-box .form p.cnt {
    color: #666;
    font-size: 14px;
    line-height: 1;
}
.product-box .form .cnt.price {
    font-size: 16px;
    color: #ee087e;
}
.product-box .form .cnt.price span {
    font-size: 30px;
}
.product-box .form .cnt .choice {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border: 1px solid #ddd;
    font-size: 14px;
    text-align: center;
    line-height: 28px;
    cursor: pointer;
}
.product-box .form .cnt .choice.chked {
    border: 2px solid #ee087e;
}
.product-box .form .cnt.btn-box .yl-btn:first-child {
    margin-right: 15px;
}
.product-box .form .cnt .collection {
    font-size: 12px;
    line-height: 1;
    color: #666;
    padding-left: 20px;
}

.toolbar {
}
.toolbar .wrap {
    font-size: 0;
    background-color: #333;
}
.toolbar .wrap a,
.toolbar .wrap .line {
    display: inline-block;
    vertical-align: top;
    height: 45px;
}
.toolbar .wrap a {
    width: 140px;
    font-size: 18px;
    line-height: 45px;
    text-align: center;
    color: #fff;
    background-color: #333;
}
.toolbar .wrap a.chked {
    background-color: #ee087e;
}
.toolbar .wrap .line {
    width: 1px;
    background-color: #f4f4f4;
}

.detail-box {
    margin-bottom: 20px;
    background-color: #fff;
}
.detail-box img {
    display: block;
    width: 100%;
    height: auto;
}

.evaluate-box {
    padding: 0 30px 25px;
    background-color: #fff;
}
.evaluate-box .title {
    height: 70px;
    font-size: 18px;
    line-height: 70px;
    text-align: center;
}
.evaluate-box .tag-list {
    height: 50px;
    padding-left: 20px;
    background-color: #f5f5f5;
}
.evaluate-box .tag-list li {
    float: left;
    height: 100%;
    margin-right: 50px;
    line-height: 50px;
    font-size: 12px;
}
.evaluate-box .tag-list li input {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.evaluate-detail {
    padding: 0 10px;
}
.evaluate-detail .item {
    margin-top: 15px;
    padding-top: 30px;
    font-size: 0;
}
.evaluate-detail .item:first-child {
    margin-top: 0;
}
.evaluate-detail .item img,
.evaluate-detail .item .cnt {
    display: inline-block;
    vertical-align: top;
}
.evaluate-detail .item img {
    width: 65px;
    height: 65px;
    margin-right: 25px;
}
.evaluate-detail .item .cnt {
    width: 1020px;
    padding-top: 12px;
    font-size: 14px;
}
.evaluate-detail .item .cnt .from {
    margin-top: 20px;
    font-size: 12px;
    color: #999;
    line-height: 1;
}
.evaluate-detail .item .cnt .from span {
    margin-right: 25px;
}












