.brand-box {
    padding: 0 30px;
    background-color: #fff;
}
.brand-box .first-brand {
    position: relative;
    height: 65px;
    line-height: 65px;
    color: #999;
}
.brand-box .first-brand .more {
    position: absolute;
    right: 30px;
    padding-right: 20px;
    line-height: 65px;
}
.brand-box a {
    margin-left: 48px;
    color: #333;
}
.brand-box a:first-child {
    margin-left: 40px;
}

.rank-box {
    font-size: 0;
    margin: 50px 0 25px;
    line-height: 1;
}
.rank-box .rank,
.rank-box .limit {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
}
.rank-box .rank {
    margin-right: 40px;
}
.rank-box .rank.up {
    padding-right: 17px;
}
.rank-box .rank.updown {
    padding-right: 23px;
}

.list-box {
    font-size: 0;
}
.list-item {
    display: inline-block;
    vertical-align: top;
    width: 284px;
    height: 370px;
    margin: 17px 0 0 17px;
    padding: 22px;
    border: 1px solid #fff;
    background-color: #fff;
}
.list-item:hover {
    border-color: #ef1887;
}
.list-item.no-mgl {
    margin-left: 0;
}
.list-item.no-mgt {
    margin-top: 0;
}
.list-item .product {
    display: block;
    width: 100%;
    height: 240px;
}
.list-item .name {
    height: 35px;
    margin: 10px 0 19px;
    font-size: 14px;
    color: #404040;
}
.list-item .info-box {
    padding: 0 3px;
}
.list-item .info-box .yl-area,
.list-item .info-box .price {
    float: left;
}
.list-item .info-box .price {
    margin-left: 12px;
    font-size: 24px;
    line-height: 1;
    color: #ee087e;
}
.list-item .info-box .reference {
    float: right;
    margin-top: 12px;
    font-size: 12px;
    line-height: 1;
    color: #999;
}

.recent-box {
    position: relative;
    padding: 30px;
    background-color: #fff;
}
.recent-box .title {
    line-height: 1;
    font-size: 18px;
}
.recent-box .table-box {
    width: 100%;
    margin-top: 20px;
    border: 1px solid #f1f1f1;
    overflow: hidden;
}
.recent-box table .list-item {
    width: 282px;
    margin: 0;
    padding: 21px;
}
.recent-box .arrow {
    position: absolute;
    top: 214px;
    width: 40px;
    height: 80px;
    filter: alpha(opacity = 15);
    -moz-opacity: 0.15;
    -khtml-opacity: 0.15;
    opacity: 0.15;
}
.recent-box .arrow.lt {
    left: 0;
    background: #000 url(images/arrow_lt.png) no-repeat center;
}
.recent-box .arrow.rt {
    right: 0;
    background: #000 url(images/arrow_rt.png) no-repeat center;
}


































