<div class="nav">
    <ul class="wrap">
        <li>
            <a href="#">首页</a>
        </li>
        <li>
            <a href="#">家居用品</a>
        </li>
        <li>
            <a href="#">日用护理</a>
        </li>
        <li>
            <a href="#">箱包手袋</a>
        </li>
        <li>
            <a href="#">运动户外</a>
        </li>
        <li>
            <a href="#">美食饮品</a>
        </li>
        <li>
            <a class="fransnana" href="#">母婴用品</a>
        </li>
        <li>
            <a class="makeup" href="#">时尚彩妆</a>
        </li>
    </ul>
</div>