.tb-cart {
    width: 100%;
    text-align: center;
    background-color: #fff;
}
.tb-cart .col1 {
    width: 165px;
    padding-left: 30px;
    text-align: left;
}
.tb-cart .col2 {
    width: 240px;
    padding-right: 10px;
    text-align: left;
}
.tb-cart .col3 {
    width: 215px;
}
.tb-cart .col4 {
    width: 210px;
}
.tb-cart .col5 {
    width: 160px;
}
.tb-cart .yl-chkbox {
    display: inline-block;
}
.tb-cart .col1 .img {
    display: inline-block;
    vertical-align: middle;
    width: 70px;
    height: 70px;
    margin-left: 20px;
}
.tb-cart .total {
    color: #ee087e;
}
.tb-cart .operate a {
    display: block;
    margin: 6px 0;
    line-height: 1;
    font-size: 12px;
    color: #404040;
}
.tb-cart.thead {
    margin-top: 40px;
}
.tb-cart.thead tr {
    height: 64px;
}
.tb-cart.tbody {
    margin-top: 20px;
}
.tb-cart.tbody tr {
    height: 120px;
    border-top: 1px solid #f1f1f1;
}
.tb-cart.tbody tr:first-child {
    border-top-style: none;
}

.balance-box {
	margin-top: 20px;
	font-size: 0;
}
.balance-box .info-box,
.balance-box .btn-balance {
	display: inline-block;
	vertical-align: middle;
}
.balance-box .info-box {
	width: 990px;
	height: 60px;
	padding-left: 30px;
	border: 1px solid #fed5f0;
	border-right-style: none;
	line-height: 58px;
	background-color: #fff6fb;
}
.balance-box .info-box .yl-chkbox,
.balance-box .info-box .del,
.balance-box .info-box .freight,
.balance-box .info-box .all-chk {
	display: inline-block;
	vertical-align: baseline;
	font-size: 12px;
	color: #404040;
}
.balance-box .info-box .del {
	margin-left: 37px;
	padding-left: 20px;
	background: url(images/del.png) no-repeat center left;
}
.balance-box .info-box .freight {
	margin-left: 450px;
}
.balance-box .info-box .freight span,
.balance-box .info-box .all-chk span {
    vertical-align: middle;
	font-size: 20px;
	color: #ee087e;
	line-height: 1;
}
.balance-box .info-box .all-chk {
	margin-left: 30px;
}
.balance-box .info-box .all-chk span:first-child {
	margin: 0 3px;
	font-size: 12px;
}
.balance-box .btn-balance {
	width: 200px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	font-size: 22px;
	color: #fff;
	background-color: #ee087e;
}

.cart-empty {
	height: 304px;
	margin-top: 40px;
	padding-top: 130px;
	padding-left: 550px;
	color: #404040;
	background: #fff url(images/cart_empty.png) no-repeat 284px center;
}
.cart-empty .go {
	font-size: 20px;
	font-weight: bold;
	line-height: 1;
}
.cart-empty .go a {
	margin-left: 10px;
	font-size: 14px;
	color: #005ea7;
}
.cart-empty .login {
	margin-top: 17px;
	font-size: 0;
}
.cart-empty .login p,
.cart-empty .login .btn-login {
	display: inline-block;
	vertical-align: middle;
}
.cart-empty .login p {
	font-size: 16px;
	line-height: 1;
}
.cart-empty .login .btn-login {
	width: 63px;
	height: 24px;
	margin-left: 10px;
	background: url(images/empty_login.png) no-repeat;
}
.cart-empty .login .btn-login:hover {
	background-position: 0 -24px;
}
















