<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title>洋流管理系统</title>
        <link rel="stylesheet" href="css/easyui/metro-gray/easyui.css"/>
        <link rel="stylesheet" href="css/easyui/icon.css"/>
		<link rel="stylesheet" href="css/reset.css" />
        <link rel="stylesheet" href="css/platform.css"/>
        <link rel="stylesheet" href="css/page.css"/>
	</head>
	<body ms-controller="hot">
        <p class="u-title">热卖商品管理1</p>
        <table id="dg" class="easyui-datagrid" data-options="
                    autoRowHeight: false,
                    method: 'post',
                    singleSelect: true,
                    striped: true,
                    fitColumns: true,
                    rownumbers: true,
                    nowrap: false">
            <thead>
                <tr>
                    <th data-options="field:'productId', width:150, align:'center'">商品编码</th>
                    <th data-options="field:'name', width:150, align:'center'">商品名称</th>
                    <th data-options="field:'minPrice', width:80, align:'center'">洋流价</th>
                    <th data-options="field:'storeCount', width:100, align:'center'">库存</th>
                    <th data-options="field:'operate', width:100, align:'center', formatter: function(value,rowData,index){
                        return '&lt;a href=&quot;javascript:;&quot; class=&quot;btn-operate replace&quot;&gt;替换商品&lt;a&gt;';
                    }">操作</th>
                </tr>
            </thead>
        </table>
        
        <div class="u-popup" ms-visible="popup.product">
            <div class="bg"></div>
            <div class="asTable-box">
                <div class="asTable">
                    <div class="asTableCell">
                        <div class="asCell dialog goods">
                            <a href="javascript:;" class="close" ms-click="popup.close">×</a>
                            <p class="title">添加商品</p>
                            <div class="container">
                                <div class="u-multiform">
                                    <div class="column">
                                        <div class="cell">
                                            <label>商品编码：</label>
                                            <input class="u-ipt" ms-duplex="param.productId">
                                        </div>
                                        <div class="cell">
                                            <label>商品名称：</label>
                                            <input class="u-ipt" ms-duplex="param.productName">
                                        </div>
                                    </div>
                                    <div class="column">
                                        <div class="cell">
                                            <label>商品状态：</label>
                                            <select ms-duplex="param.status" data-duplex-changed="statusChange">
                                                <option value="1">全部</option>
                                                <option value="2">已参加</option>
                                                <option value="3">未参加</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="column btn-box">
                                        <div class="cell">
                                            <label></label>
                                            <div class="cnt-box">
                                                <button class="u-btn small" ms-click="param.search">查询</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tb-box">
                                    <table id="dg-product" class="easyui-datagrid" data-options="
                                                autoRowHeight: false,
                                                method: 'post',
                                                singleSelect: true,
                                                striped: true,
                                                fitColumns: true,
                                                rownumbers: true,
                                                nowrap: false,
                                                pagination: true">
                                        <thead>
                                            <tr>
                                                <th data-options="field:'productId', width:150, align:'center'">商品编码</th>
                                                <th data-options="field:'name', width:150, align:'center'">商品名称</th>
                                                <th data-options="field:'field3', width:80, align:'center'">商品类目</th>
                                                <th data-options="field:'field4', width:100, align:'center'">供应商</th>
                                                <th data-options="field:'field5', width:100, align:'center'">活动类型</th>
                                                <th data-options="field:'field5', width:100, align:'center'">库存</th>
                                                <th data-options="field:'operate', width:100, align:'center', formatter: function(value,rowData,index){
                                                    return '&lt;a href=&quot;javascript:;&quot; class=&quot;btn-operate choose&quot;&gt;选择&lt;a&gt;';
                                                }">操作</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="u-headTip"><p></p></div>
        
        
        <script src="js/jquery.min.js"></script>
        <script src="js/avalon.shim.sn.js"></script>
        <script src="js/easyui/jquery.easyui.min.js"></script>
        <script src="js/easyui/easyui-lang-zh_CN.js"></script>
        <script src="js/platform.js"></script>
        <script src="js/data-interface.js"></script>
        <script>
            var hotCtrl = avalon.define({
                $id: "hot",
                param: {
                    productId: "",
                    productName: "",
                    status: "1",
                    search: function(){
                        $("#dg-product").datagrid("load", {
                            productId: hotCtrl.param.productId,
                            productName: hotCtrl.param.productName,
                            productName: hotCtrl.param.status                               
                        });
                    }
                },
                statusChange: function(val){
                    hotCtrl.param.status = val;
                },
                popup: {
                    product: false,
                    close: function(){
                        hotCtrl.popup.product = false;
                    }
                },
                replaceId: "",
                operate: {
                    replace: function(el){
                        hotCtrl.popup.product = true;
                        hotCtrl.replaceId = el.id;
                        var timer = setTimeout(function(){
                            $("#dg-product").datagrid({url: DI.queryActivityProductList});
                            
                            clearTimeout(timer);
                            timer = null;
                        }, 0);
                    },
                    choose: function(el){
                        $.ajax({
                            type: "post",
                            url: DI.saveActivtyHeat,
                            data: {
                                id: hotCtrl.replaceId,
                                productId: el.productId,
                                type: 1,
                            },
                            dataType: "json",
                            success: function(data){
                                if(data.status == "success"){
                                    hotCtrl.popup.product = false;
                                    $("#dg").datagrid("load");
                                }
                                PLATFORM.headTip(data.msg);
                            },
                            error: function(err){
                                console.log(err);
                            }
                        });
                    }
                }
            });
            avalon.scan();
            
            $(function(){
                $("#dg").datagrid({
                    url: DI.queyActivtyHeatOneList,
                    loadFilter: function(data){
                        if(data.total < 6){
                            var i = 6 - data.total;
                            for(var j=0; j<i; j++){
                                data.rows.push({
                                    productId: "",
                                    name: "",
                                    minPrice: "",
                                    storeCount: ""
                                });
                            }
                            data.total = 6;
                        }
                        return data;
                    }
                });
            });
            
            $("body").on("click", ".btn-operate.replace", function(){
                var selected = $("#dg").datagrid("getSelected");
                    
                hotCtrl.operate.replace(selected);
            });
            $("body").on("click", ".btn-operate.choose", function(){
                var selected = $("#dg-product").datagrid("getSelected");
                    
                hotCtrl.operate.choose(selected);
            });
        </script>
	</body>
</html>
