<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title>洋流管理系统</title>
        <link rel="stylesheet" href="css/easyui/metro-gray/easyui.css"/>
        <link rel="stylesheet" href="css/easyui/icon.css"/>
        <link rel="stylesheet" href="js/ui/jquery-ui.min.css"/>
		<link rel="stylesheet" href="css/reset.css" />
        <link rel="stylesheet" href="css/platform.css"/>
        <link rel="stylesheet" href="css/page.css"/>
	</head>
	<body ms-controller="limit">
        <p class="u-title">限时活动管理</p>
        <div class="u-multiform">
            <div class="column">
                <div class="cell">
                    <label>商品编码：</label>
                    <input class="u-ipt" ms-duplex="param.productId">
                </div>
                <div class="cell">
                    <label>商品名称：</label>
                    <input class="u-ipt" ms-duplex="param.productName">
                </div>
            </div>
            <div class="column">
                <div class="cell">
                    <label>商品状态：</label>
                    <select class="u-select" ms-duplex="param.status" data-duplex-changed="statusChange"> 
                        <option value="0">全部状态</option> 
                        <option value="1">已开始</option> 
                        <option value="2">已结束</option> 
                        <option value="3">已售罄</option> 
                        <option value="4">未开始</option> 
                    </select>
                </div>
            </div>
            <div class="column btn-box">
                <div class="cell">
                    <label></label>
                    <div class="cnt-box">
                        <button class="u-btn small" ms-click="param.search">查询</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="u-top-btns">
            <button type="button" class="u-btn small" ms-click="operate.add">新增</button>
        </div>
        <table id="dg" class="easyui-datagrid" data-options="
                    autoRowHeight: false,
                    method: 'post',
                    singleSelect: true,
                    striped: true,
                    fitColumns: true,
                    rownumbers: true,
                    nowrap: false,
                    pagination: true">
            <thead>
                <tr>
                    <th data-options="field:'productId', width:150, align:'center'">商品编码</th>
                    <th data-options="field:'name', width:150, align:'center'">商品名称</th>
                    <th data-options="field:'minPrice', width:80, align:'center'">洋流价</th>
                    <th data-options="field:'price', width:100, align:'center'">抢购价</th>
                    <th data-options="field:'time', width:100, align:'center'">抢购时间</th>
                    <th data-options="field:'statusDesc', width:100, align:'center'">状态</th>
                    <th data-options="field:'storeCount', width:100, align:'center'">库存</th>
                    <th data-options="field:'operate', width:100, align:'center', formatter: function(value,rowData,index){
                        return '&lt;a href=&quot;javascript:;&quot; class=&quot;btn-operate del&quot;&gt;删除&lt;a&gt;';
                    }">操作</th>
                </tr>
            </thead>
        </table>
        
        <div class="u-popup" ms-visible="popup.product">
            <div class="bg"></div>
            <div class="asTable-box">
                <div class="asTable">
                    <div class="asTableCell">
                        <div class="asCell dialog goods">
                            <a href="javascript:;" class="close" ms-click="popup.close">×</a>
                            <p class="title">添加商品</p>
                            <div class="container">
                                <div class="u-multiform">
                                    <div class="column">
                                        <div class="cell">
                                            <label>商品编码：</label>
                                            <input class="u-ipt" ms-duplex="param.productId2">
                                        </div>
                                        <div class="cell">
                                            <label>商品名称：</label>
                                            <input class="u-ipt" ms-duplex="param.productName2">
                                        </div>
                                    </div>
                                    <div class="column btn-box">
                                        <div class="cell">
                                            <label></label>
                                            <div class="cnt-box">
                                                <button class="u-btn small" ms-click="param.search2">查询</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tb-box">
                                    <table id="dg-product" class="easyui-datagrid" data-options="
                                                autoRowHeight: false,
                                                method: 'post',
                                                singleSelect: true,
                                                striped: true,
                                                fitColumns: true,
                                                rownumbers: true,
                                                nowrap: false,
                                                pagination: true">
                                        <thead>
                                            <tr>
                                                <th data-options="field:'activityId', width:150, align:'center',hidden:true">id</th>
                                                <th data-options="field:'productId', width:150, align:'center'">商品编码</th>
                                                <th data-options="field:'name', width:150, align:'center'">商品名称</th>
                                                <th data-options="field:'catalogName', width:80, align:'center'">商品类目</th>
                                                <th data-options="field:'supplierName', width:100, align:'center'">供应商</th>
                                                <th data-options="field:'activityType', width:100, align:'center'">活动类型</th>
                                                <th data-options="field:'storeCount', width:100, align:'center'">库存</th>
                                                <th data-options="field:'operate', width:100, align:'center', formatter: function(value,rowData,index){
                                                    return '&lt;a href=&quot;javascript:;&quot; class=&quot;btn-operate join&quot;&gt;参加&lt;a&gt;';
                                                }">操作</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="u-popup" ms-visible="popup.setting">
            <div class="bg"></div>
            <div class="asTable-box">
                <div class="asTable">
                    <div class="asTableCell">
                        <div class="asCell dialog">
                            <a href="javascript:;" class="close" ms-click="popup.settingClose">×</a>
                            <p class="title">设置</p>
                            <div class="container">
                                <div class="u-form limit">
                                    <div class="stripe" ms-repeat="setting.producttypes">
                                        <div class="column">
                                            <label>颜色：</label>
                                            <p class="cnt-box word">{{el.color}}</p>
                                        </div>
                                        <div class="column">
                                            <label>尺码：</label>
                                            <p class="cnt-box word">{{el.size}}</p>
                                        </div>
                                        <div class="column">
                                            <label>原洋流价：</label>
                                            <p class="cnt-box word">{{el.originPrice}}</p>
                                            <div class="cnt-box">
                                                <p class="split">元</p>
                                            </div>
                                        </div>
                                        <div class="column">
                                            <label>抢购价：</label>
                                            <input class="u-ipt" type="text" placeholder="" ms-duplex="el.price" />
                                            <div class="cnt-box">
                                                <p class="split">元</p>
                                            </div>
                                        </div>
                                        <div class="column">
                                            <label>库存：</label>
                                            <p class="cnt-box word">{{el.storeCount}}</p>                               
                                        </div>
                                        <div class="column">
                                            <label>参加活动：</label>
                                            <input class="u-ipt" type="text" placeholder="" ms-duplex="el.num" />
                                            <div class="cnt-box">
                                                <p class="split">件</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column">
                                        <label>开始时间：</label>
                                        <input class="u-ipt ipt-timepicker" type="text" id="timepickerStart" placeholder="开始时间" ms-duplex="setting.beginTime" />
                                    </div>
                                    <div class="column">
                                        <label>结束时间：</label>
                                        <input class="u-ipt ipt-timepicker" type="text" id="timepickerEnd" placeholder="开始时间" ms-duplex="setting.endTime" />
                                    </div>
                                </div>
                            </div>
                            <div class="btn-box">
                                <button class="u-btn" type="button" ms-click="operate.save">保存</button>
                                <button class="u-btn orange" type="button" ms-click="popup.settingClose">取消</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="u-headTip"><p></p></div>
        
        
        <script src="js/jquery.min.js"></script>
        <script src="js/avalon.shim.sn.js"></script>
        <script src="js/easyui/jquery.easyui.min.js"></script>
        <script src="js/easyui/easyui-lang-zh_CN.js"></script>
        <script src="js/ui/jquery-ui.min.js"></script>
        <script src="js/ui/jquery-ui-timepicker-addon.js"></script>
        <script src="js/platform.js"></script>
        <script src="js/data-interface.js"></script>
        <script>
            var limitCtrl = avalon.define({
                $id: "limit",
                param: {
                    productId: "",
                    productName: "",
                    status: "0",
                    productId2: "",
                    productName2: "",
                    search: function(){
                        $("#dg").datagrid("load", {
                            productId: limitCtrl.param.productId,
                            productName: limitCtrl.param.productName,
                            status: limitCtrl.param.status
                        });
                    },
                    search2: function(){
                        $("#dg-product").datagrid("load", {
                            productId: limitCtrl.param.productId2,
                            productName: limitCtrl.param.productName2                               
                        });
                    }
                },
                statusChange: function(val){
                    limitCtrl.param.status = val;
                },
                operate: {
                    add: function(){
                        limitCtrl.popup.product = true;
                        var timer = setTimeout(function(){
                            $("#dg-product").datagrid({url: DI.queryActivityProductList});
                            
                            clearTimeout(timer);
                            timer = null;
                        }, 0);
                    },
                    del: function(el){
                        $.ajax({
                            type: "post",
                            url: DI.delActivity,
                            data: {
                                activityId: el.activityId
                            },
                            dataType: "json",
                            success: function(data){
                                if(data.status == "success"){
                                    $("#dg").datagrid("load");
                                }
                                PLATFORM.headTip(data.msg);
                            }
                        });
                    },
                    join: function(el){
                        limitCtrl.popup.setting = true;
                        limitCtrl.setting.beginTime = "";
                        limitCtrl.setting.endTime = "";
                        $.ajax({
                            type: "post",
                            url: DI.queryActivityProductType,
                            data: {
                                productId: el.productId
                            },
                            dataType: "json",
                            success: function(data){
                                for(var i = 0; i<data.length; i++){
                                    data[i].price = 0;
                                    data[i].num = 0;
                                }
                                limitCtrl.setting.producttypes = data;
                            }
                        });
                    },
                    save: function(){
                        var productTypeId = [],
                            price = [],
                            num = [];
                        for(var i = 0; i<limitCtrl.setting.producttypes.length; i++){
                            productTypeId.push(limitCtrl.setting.producttypes[i].productTypeId);
                            price.push(limitCtrl.setting.producttypes[i].price);
                            num.push(limitCtrl.setting.producttypes[i].num);
                        }
                        $.ajax({
                            type: "post",
                            url: DI.saveActivity,
                            dataType: "json",
                            data: {
                            	productId: limitCtrl.setting.producttypes[0].productId,
                            	beginTime: limitCtrl.setting.beginTime,
                            	endTime: limitCtrl.setting.endTime,
                            	productTypeId: productTypeId,
                            	price: price,
                            	num: num
                            },
                            dataType: "json",
                            success: function(data){
                                if(data.status == "success"){
                                    limitCtrl.popup.setting = false;
                                    $("#dg").datagrid("load");
                                }
                                PLATFORM.headTip(data.msg);
                            }
                        });
                    }
                },
                setting: {
                    producttypes: [],
                    beginTime: "",
                    endTime: ""
                },
                popup: {
                    product: false,
                    setting: false,
                    close: function(){
                        limitCtrl.popup.product = false;
                    },
                    settingClose: function(){
                        limitCtrl.popup.setting = false;
                    }
                }
            });
            avalon.scan();
            
            $(function(){
                $("#dg").datagrid({url: DI.queryActivityList});
                PLATFORM.timepickerRange("#timepickerStart", "#timepickerEnd");
            });
            
            $("body").on("click", ".btn-operate.del", function(){
                var selected = $("#dg").datagrid("getSelected");
                    
                limitCtrl.operate.del(selected);
            });
            
            $("body").on("click", ".btn-operate.join", function(){
                var selected = $("#dg-product").datagrid("getSelected");
                    
                limitCtrl.operate.join(selected);
            });
        </script>
	</body>
</html>
