 <!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>洋流管理系统</title>
        <link rel="stylesheet" href="css/easyui/metro-gray/easyui.css"/>
        <link rel="stylesheet" href="css/easyui/icon.css"/>
        <link rel="stylesheet" href="js/ui/jquery-ui.min.css"/>
        <link rel="stylesheet" href="css/reset.css" />
        <link rel="stylesheet" href="css/platform.css"/>
        <link rel="stylesheet" href="css/page.css"/>
    </head>
    <body class="page-order" ms-controller="order">
        <div ms-visible="!detail.flag">
            <p class="u-title">订单管理</p>
            <div class="u-multiform">
                <div class="column">
                    <div class="cell">
                        <label>订单编号：</label>
                        <input class="u-ipt" ms-duplex="param.code">
                    </div>
                    <div class="cell">
                        <label>商品名称：</label>
                        <input class="u-ipt" ms-duplex="param.name">
                    </div>
                </div>
                <div class="column">
                    <div class="cell">
                        <label>成交时间：</label>
                        <div class="cnt-box">
                            <input class="u-ipt ipt-timepicker" type="text" id="timepickerStart" placeholder="开始时间" ms-duplex="param.starttime">
                            <span class="split">-</span>
                            <input class="u-ipt ipt-timepicker" type="text" id="timepickerEnd" placeholder="结束时间" ms-duplex="param.endtime">
                        </div>
                    </div>
                </div>
                <div class="column btn-box">
                    <div class="cell">
                        <label></label>
                        <div class="cnt-box">
                            <button class="u-btn small" ms-click="param.search">查询</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="u-tabs">
                <div class="tab-box">
                    <div class="tab" ms-class="sel: cnt==999" ms-click="tab(999)">全部订单</div>
                    <div class="tab" ms-class="sel: cnt==102" ms-click="tab(102)">待发货</div>
                    <div class="tab" ms-class="sel: cnt==103" ms-click="tab(103)">已发货</div>
                    <div class="tab" ms-class="sel: cnt==104" ms-click="tab(104)">已收货</div>
                    <div class="tab" ms-class="sel: cnt==105" ms-click="tab(105)">退换货</div>
                </div>
                <div class="cnt-box">
                    <div class="cnt" ms-visible="cnt == 999">
                        <table id="dg-all" class="easyui-datagrid" data-options="
                                autoRowHeight: false,
                                method: 'post',
                                singleSelect: true,
                                striped: true,
                                fitColumns: true,
                                rownumbers: true,
                                nowrap: false,
                                pagination: true,
                                onLoadSuccess: orderOnLoadSuccess">
                        </table>
                    </div>
                    <div class="cnt" ms-visible="cnt == 102">
                        <table id="dg-noDeliver" class="easyui-datagrid" data-options="
                                autoRowHeight: false,
                                method: 'post',
                                singleSelect: true,
                                striped: true,
                                fitColumns: true,
                                rownumbers: true,
                                nowrap: false,
                                pagination: true,
                                onLoadSuccess: orderOnLoadSuccess">
                            <thead>
                                <tr>
                                    <th data-options="field:'img', width:150, align:'center'"></th>
                                    <th data-options="field:'title', width:150, align:'center'">商品</th>
                                    <th data-options="field:'price', width:150, align:'center'">单价（元）</th>
                                    <th data-options="field:'num', width:80, align:'center'">数量</th>
                                    <th data-options="field:'nickname', width:100, align:'center'">买家昵称</th>
                                    <th data-options="field:'amount', width:100, align:'center'">实收金额</th>
                                    <th data-options="field:'operate', width:100, align:'center', formatter: function(value,rowData,index){
                                        return '&lt;a href=&quot;javascript:;&quot; class=&quot;btn-operate detail&quot;&gt;订单详情&lt;a&gt;&lt;button class=&quot;u-btn small&quot;&gt;发货&lt;button&gt;';
                                    }">交易状态</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="cnt" ms-visible="cnt == 103">
                        <table id="dg-noReceive" class="easyui-datagrid" data-options="
                                autoRowHeight: false,
                                method: 'post',
                                singleSelect: true,
                                striped: true,
                                fitColumns: true,
                                rownumbers: true,
                                nowrap: false,
                                pagination: true,
                                onLoadSuccess: orderOnLoadSuccess">
                            <thead>
                                <tr>
                                    <th data-options="field:'img', width:150, align:'center'"></th>
                                    <th data-options="field:'title', width:150, align:'center'">商品</th>
                                    <th data-options="field:'price', width:150, align:'center'">单价（元）</th>
                                    <th data-options="field:'num', width:80, align:'center'">数量</th>
                                    <th data-options="field:'nickname', width:100, align:'center'">买家昵称</th>
                                    <th data-options="field:'amount', width:100, align:'center'">实收金额</th>
                                    <th data-options="field:'operate', width:100, align:'center', formatter: function(value,rowData,index){
                                        return '&lt;a href=&quot;javascript:;&quot; class=&quot;btn-operate detail&quot;&gt;订单详情&lt;a&gt;&lt;a href=&quot;javascript:;&quot; class=&quot;u-btn small&quot;&gt;查看物流&lt;a&gt;';
                                    }">交易状态</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="cnt" ms-visible="cnt == 104">
                        <table id="dg-noEvluate" class="easyui-datagrid" data-options="
                                autoRowHeight: false,
                                method: 'post',
                                singleSelect: true,
                                striped: true,
                                fitColumns: true,
                                rownumbers: true,
                                nowrap: false,
                                pagination: true,
                                onLoadSuccess: orderOnLoadSuccess">
                            <thead>
                                <tr>
                                    <th data-options="field:'img', width:150, align:'center'"></th>
                                    <th data-options="field:'title', width:150, align:'center'">商品</th>
                                    <th data-options="field:'price', width:150, align:'center'">单价（元）</th>
                                    <th data-options="field:'num', width:80, align:'center'">数量</th>
                                    <th data-options="field:'nickname', width:100, align:'center'">买家昵称</th>
                                    <th data-options="field:'amount', width:100, align:'center'">实收金额</th>
                                    <th data-options="field:'operate', width:100, align:'center', formatter: function(value,rowData,index){
                                        return '&lt;a href=&quot;javascript:;&quot; class=&quot;btn-operate detail&quot;&gt;订单详情&lt;a&gt;&lt;a href=&quot;javascript:;&quot; class=&quot;u-btn small&quot;&gt;查看物流&lt;a&gt;';
                                    }">交易状态</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="cnt" ms-visible="cnt == 105">
                        <table id="dg-return" class="easyui-datagrid" data-options="
                                    autoRowHeight: false,
                                    method: 'post',
                                    singleSelect: true,
                                    striped: true,
                                    fitColumns: true,
                                    rownumbers: true,
                                    nowrap: false,
                                    pagination: true">
                            <thead>
                                <tr>
                                    <th data-options="field:'field1', width:150, align:'center'">商品</th>
                                    <th data-options="field:'field2', width:150, align:'center'">单价（元）</th>
                                    <th data-options="field:'field3', width:80, align:'center'">数量</th>
                                    <th data-options="field:'field4', width:100, align:'center'">买家昵称</th>
                                    <th data-options="field:'field5', width:100, align:'center'">实收金额</th>
                                    <th data-options="field:'field5', width:100, align:'center'">业务</th>
                                    <th data-options="field:'field5', width:100, align:'center'">状态</th>
                                    <th data-options="field:'operate', width:100, align:'center', formatter: function(value,rowData,index){
                                        return '&lt;a href=&quot;javascript:;&quot; class=&quot;btn-operate edit&quot;&gt;编辑&lt;a&gt;&lt;a href=&quot;javascript:;&quot; class=&quot;btn-operate updown&quot;&gt;下架&lt;a&gt;';
                                    }">交易状态</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div ms-visible="detail.flag">
            <p class="u-title">订单详情</p>
            <div class="u-datainfo" ms-visible="detail.status == 101">
                <p class="info-title">订单信息</p>
                <div class="column">
                    <div class="cell">
                        <label>订单编号：</label>
                        <span class="cnt-box">{{orderId}}</span>
                    </div>
                </div>
                <div class="column">
                    <div class="cell">
                        <label>创建时间：</label>
                        <span class="cnt-box">{{detail.createTime}}</span>
                    </div>
                </div>
                <div class="column">
                    <div class="cell">
                        <label>订单状态：</label>
                        <span class="cnt-box">{{detail.status | orderStatus}}</span>
                    </div>
                </div>
                <div class="column">
                    <div class="cell">
                        <label></label>
                        <button class="u-btn">关闭交易</button>
                    </div>
                </div>
            </div>
            <div class="u-datainfo" ms-visible="detail.status == 102">
                <p class="info-title">订单信息</p>
                <div class="column">
                    <div class="cell">
                        <label>订单编号：</label>
                        <span class="cnt-box">{{orderId}}</span>
                    </div>
                </div>
                <div class="column">
                    <div class="cell">
                        <label>交易号：</label>
                        <span class="cnt-box">{{detail.paymentId}}</span>
                    </div>
                </div>
                <div class="column">
                    <div class="cell">
                        <label>成交时间：</label>
                        <span class="cnt-box">{{detail.chargePaidTime}}</span>
                    </div>
                </div>
                <div class="column">
                    <div class="cell">
                        <label>订单状态：</label>
                        <span class="cnt-box">{{detail.status | orderStatus}}</span>
                    </div>
                </div>
                <div class="column">
                    <div class="cell">
                        <label>收货信息：</label>
                        <span class="cnt-box">{{detail.addr}}</span>
                    </div>
                </div>
                <div class="column">
                    <div class="cell">
                        <label></label>
                        <button class="u-btn" ms-click="deliver.show">发货</button>
                    </div>
                </div>
            </div>
            <div class="u-datainfo seven" ms-visible="detail.status == 103">
                <p class="info-title">物流信息</p>
                <div class="column">
                    <div class="cell">
                        <label>物流公司：</label>
                        <span class="cnt-box">顺丰</span>
                    </div>
                </div>
                <div class="column">
                    <div class="cell">
                        <label>物流单号：</label>
                        <span class="cnt-box">{{detail.expressNo}}</span>
                    </div>
                </div>
                <div class="column">
                    <div class="cell">
                        <label>物流跟踪：</label>
                        <div class="cnt-box">
                            <p></p>
                        </div>
                    </div>
                </div>
                <p class="info-title">订单信息</p>
                <div class="column">
                    <div class="cell">
                        <label>订单编号：</label>
                        <span class="cnt-box">{{orderId}}</span>
                    </div>
                </div>
                <div class="column">
                    <div class="cell">
                        <label>支付宝交易号：</label>
                        <span class="cnt-box">{{detail.paymentId}}</span>
                    </div>
                </div>
                <div class="column">
                    <div class="cell">
                        <label>创建时间：</label>
                        <span class="cnt-box">{{detail.createTime}}</span>
                    </div>
                </div>
                <div class="column">
                    <div class="cell">
                        <label>订单状态：</label>
                        <span class="cnt-box">{{detail.status | orderStatus}}</span>
                    </div>
                </div>
                <div class="column">
                    <div class="cell">
                        <label>收货信息：</label>
                        <span class="cnt-box">{{detail.addr}}</span>
                    </div>
                </div>
            </div>
            <table id="dg-product" class="easyui-datagrid" data-options="
                        autoRowHeight: false,
                        method: 'post',
                        singleSelect: true,
                        striped: true,
                        fitColumns: true,
                        rownumbers: true,
                        nowrap: false,
                        onLoadSuccess: detailOnLoadSuccess">
                <thead>
                    <tr>
                        <th data-options="field:'img', width:150, align:'center'"></th>
                        <th data-options="field:'name', width:150, align:'center'">商品</th>
                        <th data-options="field:'price', width:150, align:'center'">单价（元）</th>
                        <th data-options="field:'num', width:80, align:'center'">数量</th>
                        <th data-options="field:'nickname', width:100, align:'center'">买家昵称</th>
                        <th data-options="field:'status', width:100, align:'center'">订单状态</th>
                        <th data-options="field:'amount', width:100, align:'center'">实收金额</th>
                    </tr>
                </thead>
            </table>
            <div class="u-bottom-btns">
                <button class="u-btn gray" ms-click="detail.back">返回</button>
            </div>
        </div>
    	<div class="u-popup" id="popup-cnt" ms-visible="popup.address">
            <div class="bg"></div>
            <div class="asTable-box">
                <div class="asTable">
                    <div class="asTableCell">
                        <div class="asCell dialog">
                            <a href="javascript:;" class="close btn-close">×</a>
                            <p class="title">发货</p>
                            <div class="container">
                                <p class="u-step">1. 确认收货信息</p>
                                <p class="u-singleinfo">{{detail.addr}}</p>
                                <p class="u-step">2. 确认发货信息</p>
                                <div class="u-form">
                                    <div class="column">
                                        <label>收货地址：</label>
                                        <div class="cnt-box district-box">
                                            <select class="district" ms-duplex="address.province" data-duplex-changed="provinceChange">
                                                <option ms-repeat="address.provinceAll" ms-attr-value="el.provinceCode">{{el.name}}</option>
                                            </select>
                                            <select class="district" ms-duplex="address.city" data-duplex-changed="cityChange">
                                                <option ms-repeat="address.cityAll" ms-attr-value="el.code">{{el.name}}</option>
                                            </select>
                                            <select class="district" ms-duplex="address.area" data-duplex-changed="areaChange">
                                                <option ms-repeat="address.areaAll" ms-attr-value="el.code">{{el.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="column">
                                        <label>姓名：</label>
                                        <input class="u-ipt" type="text" placeholder="" ms-duplex="deliver.name" />
                                    </div>
                                    <div class="column">
                                        <label>详细地址：</label>
                                        <input class="u-ipt" type="text" placeholder="" ms-duplex="deliver.street" />
                                    </div>
                                    <div class="column">
                                        <label>联系方式：</label>
                                        <input class="u-ipt" type="text" placeholder="" ms-duplex="deliver.phone" />
                                    </div>
                                    <div class="column">
                                        <label>邮政编码：</label>
                                        <input class="u-ipt" type="text" placeholder="" ms-duplex="deliver.postcode" />
                                    </div>
                                </div>
                                <!--<p class="u-step">3. 填写物流信息</p>
                                <div class="u-form">
                                    <div class="column">
                                        <label>物流公司：</label>
                                        <p class="cnt-box word">顺丰</p>
                                    </div>
                                    <div class="column">
                                        <label>运单号：</label>
                                        <input class="u-ipt" type="text" placeholder="">
                                    </div>
                                    <div class="column">
                                        <label>运费：</label>
                                        <p class="cnt-box word">0元</p>
                                    </div>
                                </div>-->
                            </div>
                            <div class="btn-box">
                                <button class="u-btn" type="button" ms-click="deliver.send">提交</button>
                                <button class="u-btn orange btn-close" type="button">取消</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="u-headTip"><p></p></div>

        <script src="js/jquery.min.js"></script>
        <script src="js/avalon.shim.sn.js"></script>
        <script src="js/easyui/jquery.easyui.min.js"></script>
        <script src="js/easyui/easyui-lang-zh_CN.js"></script>
        <script src="js/ui/jquery-ui.min.js"></script>
        <script src="js/ui/jquery-ui-timepicker-addon.js"></script>
        <script src="js/platform.js"></script>
        <script src="js/data-interface.js"></script>
        <script>
            var orderCtrl = avalon.define({
                $id: "order",
                param: {
                    code: "",
                    name: "",
                    nickname: "",
                    starttime: "",
                    endtime: "",
                    search: function(){
                        $.ajax({
                            type: "post",
                            url: DI.queryAllProducts,
                            data: {
                                productId: productCtrl.param.productId,
                                name: productCtrl.param.name,
                                catalogId3: productCtrl.param.catalogId3,
                                status: productCtrl.param.status,
                            },
                            dataType: "json",
                            success: function(data){
                                
                            },
                            error: function(err){
                                console.log(err);
                            }
                        });
                    }
                },
                orderId: "",
                step: 3,
                cnt: 999,
                allMerge: [],
                noDeliverMerge:[],
                noReceiveMerge:[],
                noEvluateMerge:[],
                returnMerge: [],
                tab: function(idx){
                    orderCtrl.cnt = idx;
                    queryOrderList();
                },
                address: {
                    provinceAll: PLATFORM.province,
                    province: "",
                    cityAll: [],
                    city: "",
                    areaAll: [],
                    area: ""
                },
                provinceChange: function(val){
                    orderCtrl.address.province = val;
                    $.ajax({
                        type: "post",
                        url: DI.getCitys,
                        data: {
                            provinceCode: val
                        },
                        dataType: "json",
                        success: function(data){
                            orderCtrl.address.cityAll = data;
                        },
                        error: function(err){
                            console.log(err);
                        }
                    });
                },
                cityChange: function(val){
                    orderCtrl.address.city = val;
                    $.ajax({
                        type: "post",
                        url: DI.getAreas,
                        data: {
                            cityCode: val
                        },
                        dataType: "json",
                        success: function(data){
                            orderCtrl.address.areaAll = data;
                        },
                        error: function(err){
                            console.log(err);
                        }
                    });
                },
                areaChange: function(val){
                    orderCtrl.address.area = val;
                },
                popup: {
                    address: false,
                    close: function(){
                        orderCtrl.popup.address = false;
                    }
                },
                deliver: {
                    street: "",
                    phone: "",
                    postcode: "",
                    name: "",
                    show: function(){
                        orderCtrl.popup.address = true;
                    },
                    send: function(){
                        $.ajax({
                            type: "post",
                            url: DI.endExpress,
                            data: {
                                orderId: orderCtrl.orderId,
                                provinceCode: orderCtrl.address.province,
                                cityCode: orderCtrl.address.city,
                                araCode: orderCtrl.address.area,
                                street: orderCtrl.deliver.street,
                                phone: orderCtrl.deliver.phone,
                                postcode: orderCtrl.deliver.postcode,
                                name: orderCtrl.deliver.name
                            },
                            dataType: "json",
                            success: function(data){
                                orderCtrl.address.areaAll = data;
                            },
                            error: function(err){
                                console.log(err);
                            }
                        });
                    }
                },
                detail: {
                    flag: false,
                    expressNo: "",
                    addr: "",
                    status: 101,
                    createTime: "",
                    paymentId: "",
                    chargePaidTime: "",
                    products: [],
                    back: function(){
                        orderCtrl.detail.flag = false;
                    },
                    check: function(el){
                        orderCtrl.detail.flag = true;
                        orderCtrl.orderId = el.orderId;
                        $.ajax({
                            type: "post",
                            url: DI.getOrderDetail,
                            data: {
                                orderId: orderCtrl.orderId
                            },
                            dataType: "json",
                            success: function(data){
                                orderCtrl.detail.expressNo = data.expressNo;
                                orderCtrl.detail.addr = data.addr;
                                orderCtrl.detail.status = data.order.status;
                                orderCtrl.detail.createTime = data.order.createTime;
                                orderCtrl.detail.paymentId = data.order.chargePaidTime;
                                orderCtrl.detail.chargePaidTime = data.order.chargePaidTime;
                                
                                orderCtrl.detail.products = data.products.length;
                                var products = data.products;
                                for(var i=0; i<products.length; i++){
                                    products[i].status = data.order.status;
                                    products[i].amount = data.order.amount;
                                    products[i].nickname = data.nickname;
                                    products[i].img = data.nickname;
                                }
                                $("#dg-product").datagrid({}).datagrid("loadData", products);
                            }
                        });
                    }
                }
            });

            avalon.scan();
            
            $(function(){
                PLATFORM.timepickerRange("#timepickerStart", "#timepickerEnd");
                
                queryOrderList();
                
                $("#dg-all").datagrid({
                    columns:[[
                        {field: "orderId", title: "订单编号", width: 150, align: "center"},
                        {field: "createTime", title: "创建时间", width: 150, align: "center"},
                        {field: "img", title: "", width: 150, align: "center"},
                        {field: "title", title: "商品", width: 150, align: "center"},
                        {field: "price", title: "单价（元）", width: 150, align: "center"},
                        {field: "num", title: "数量", width: 150, align: "center"},
                        {field: "nickname", title: "买家昵称", width: 150, align: "center"},
                        {field: "amount", title: "实收金额", width: 150, align: "center"},
                        {field: "operate", title: "交易状态", width: 150, align: "center", formatter: function(value, row, index){
                                var status = "<p>" + row.status + "</p>",
                                    detail = "<a href='javascript:;' class='btn-operate detail'>查看详情</a>",
                                    operate = null;
                                if(row.status == "101"){
                                    operate = "<a href='javascript:;' class='btn-operate close'>关闭交易</a>"
                                }else if(row.status == "102"){
                                    operate = "<button href='javascript:;' class='u-btn small deliver'>发货</button>"
                                }else{
                                    operate = "<a href='javascript:;' class='btn-operate logistics'>查看物流</a>"
                                }
                                return status + detail + operate;
                            }
                        }
                    ]]
                });
                
                var param = PLATFORM.getUrlArgs();
                if(param.orderId){
                    orderCtrl.detail.check({"orderId": param.orderId});
                }
            });
            
            function queryOrderList(){
                $.ajax({
                    type: "post",
                    url: DI.queryOrderList,
                    data: {
                        status: orderCtrl.cnt == "999" ? "" : orderCtrl.cnt
                    },
                    dataType: "json",
                    success: function(data){
                        var merges = [],
                            table = null;
                            products = [],
                            product = null,
                            index = 0;
                        for(var i=0; i<data.data.length; i++){
                            for(var j=0; j<data.data[i].products.length; j++){
                                product = data.data[i].products[j];
                                product.nickname = data.data[i].nickname;
                                product.status = data.data[i].status;
                                product.amount = data.data[i].amount;
                                product.orderId = data.data[i].orderId;
                                product.createTime = data.data[i].createTime;
                                
                                product.img = "";
                                products.push(product);
                            }
                            merges.push({
                                index: index,
                                rowspan: data.data[i].products.length
                            });
                            index += data.data[i].products.length;
                        }
                        if(orderCtrl.cnt == "102"){
                            orderCtrl.noDeliverMerge = merges;
                            table = "noDeliver";
                        }else if(orderCtrl.cnt == "103"){
                            orderCtrl.noReceiveMerge = merges;
                            table = "noReceive";
                        }else if(orderCtrl.cnt == "104"){
                            orderCtrl.noEvluateMerge = merges;
                            table = "noEvluate";
                        }else if(orderCtrl.cnt == "105"){
                            orderCtrl.returnMerge = merges;
                            table = "return";
                        }else if(orderCtrl.cnt == "999"){
                            orderCtrl.allMerge = merges;
                            table = "all";
                        }
                        $("#dg-" + table).datagrid({}).datagrid("loadData", products);
                    }
                });
            }
            function detailOnLoadSuccess(data){
                var merges = ["nickname","status","amount"];
                for(var i=0; i<merges.length; i++){
                    $(this).datagrid('mergeCells', {
                        index: 0,
                        field: merges[i],
                        rowspan: orderCtrl.detail.products
                    });
                }
            }
            function orderOnLoadSuccess(data){
                var merges = null;
                if(orderCtrl.cnt == "102"){
                    merges = orderCtrl.noDeliverMerge;
                }else if(orderCtrl.cnt == "103"){
                    merges = orderCtrl.noReceiveMerge;
                }else if(orderCtrl.cnt == "104"){
                    merges = orderCtrl.noEvluateMerge;
                }else if(orderCtrl.cnt == "105"){
                    merges = orderCtrl.returnMerge;
                }else if(orderCtrl.cnt == "999"){
                    merges = orderCtrl.allMerge;
                }
                for(var i=0; i<merges.length; i++){
                    $(this).datagrid('mergeCells', {
                        index: merges[i].index,
                        field: "orderId",
                        rowspan: merges[i].rowspan
                    });
                    $(this).datagrid('mergeCells', {
                        index: merges[i].index,
                        field: "createTime",
                        rowspan: merges[i].rowspan
                    });
                    $(this).datagrid('mergeCells', {
                        index: merges[i].index,
                        field: "nickname",
                        rowspan: merges[i].rowspan
                    });
                    $(this).datagrid('mergeCells', {
                        index: merges[i].index,
                        field: "status",
                        rowspan: merges[i].rowspan
                    });
                    $(this).datagrid('mergeCells', {
                        index: merges[i].index,
                        field: "amount",
                        rowspan: merges[i].rowspan
                    });
                    $(this).datagrid('mergeCells', {
                        index: merges[i].index,
                        field: "operate",
                        rowspan: merges[i].rowspan
                    });
                }
            }
            function getTable(){
                var table = "";
                if(orderCtrl.cnt == "102"){
                    table = "noDeliver";
                }else if(orderCtrl.cnt == "103"){
                    table = "noReceive";
                }else if(orderCtrl.cnt == "104"){
                    table = "noEvluate";
                }else if(orderCtrl.cnt == "105"){
                    table = "return";
                }else if(orderCtrl.cnt == "999"){
                    table = "all";
                }
                return table;
            }
            $("body").on("click", ".btn-operate.detail", function(){
                var table = getTable(),
                    selected = $("#dg-" + table).datagrid("getSelected");
                    
                orderCtrl.detail.check(selected);
            });
        </script>
    </body>
</html>
