.f-mgt20 {
    margin-top: 20px;
}

.tb-box {
    margin-bottom: 20px;
}

.attribute-box {
    background-color: #eee;
}

.u-popup .asTableCell .dialog.goods {
    width: 910px;
}

.u-form .stripe {
    background-color: #EBECED;
}

.u-form.limit .u-ipt {
    width: 185px;
}
